name: cpp-linter

on: [pull_request]
jobs:
  cpp-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Get submodules 
        run: |
          git submodule update --init
          cd external/Microphysics
          git fetch; git checkout development
          cd ../amrex 
          git fetch; git checkout development
          cd ../..

      - name: Run cpp linter
        uses: AMReX-Astro/cpp-linter-action@main
        with: 
          build_path: 'Exec/science/wdconvect'
          make_options: '-j 2 USE_OMP=FALSE USE_MPI=FALSE USE_CUDA=FALSE DIM=3 DEBUG=TRUE'
          ignore_files: 'amrex|Microphysics'
          header_filter: 'MAESTROeX'
          checks: 'bugprone-*,performance-*,portability-*,modernize-*,clang-analyzer-*,cppcoreguidelines-*,readability-*,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-bounds-constant-array-index,-clang-diagnostic-unknown-warning-option,-clang-diagnostic-unknown-pragmas,-readability-avoid-const-params-in-decls,-cppcoreguidelines-owning-memory'
      
      - name: Archive clang tidy report
        uses: actions/upload-artifact@v1
        with:
          name: clang-tidy-report
          path: clang-tidy-report.txt
      
    #   - name: Archive clang format report
    #     uses: actions/upload-artifact@v1
    #     with:
    #       name: clang-format-report
    #       path: clang-format-report.txt
      
      - name: Archive cppcheck report
        uses: actions/upload-artifact@v1
        with:
          name: cppcheck-report
          path: cppcheck-report.txt